{% load crispy_forms_tags %}
<div class="sticky-bottom d-flex blurry-overlay" id="comment-form">
    <div class="flex-grow-1">
        <form method="post" action="{% url 'season_comment' slug=season.slug %}" class="mt-3">
            {% csrf_token %}
            <div class="row d-flex g-0">
                <div class="col">
                    {{ comment_form | crispy }}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-success">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>