{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<!-- Page content-->
<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Welcome to {{ season.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ season.created_on }}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Maybe something here?</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Links?</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    <a href="{% url 'homepage' %}">
                        {% if "placeholder" in season.image.url %}
                        <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
                            alt="Placeholder image">
                        {% else %}
                        <img class="img-fluid rounded" src="{{ season.image.url }}"
                            alt="Cover image for season post: {{ season.title }}">
                        {% endif %}
                    </a>
                    {% if user.is_staff %}
                    <div class="d-grid gap-2">
                        <a class="btn btn-primary" href="{% url 'spotify_search' slug=season.slug %}">Add Playlists</a>
                    </div>
                    {% endif %}
                </figure>

                <!-- Season post details -->
                <section class="mb-5">
                    <h2 class="fw-bolder mb-4 mt-5">Description:</h2>
                    <p class="fs-5 mb-4">{{ season.description }}</p>
                </section>

                <!-- Playlist in Season post -->
                <section class="container mb-5">
                    <div class="row">
                        {% for playlist in season.playlists.all %}
                        <div class="col-md-6 col-lg-4">
                            <h5 class="text-truncate mt-5" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="{{ playlist.name }}">
                                {{ playlist.name }}
                            </h5>
                            <button class="spotify-iframe" data-spotify-id="{{ playlist.iframe_uri }}">
                                <img src="{{ playlist.image }}" class="img-thumbnail"
                                    alt="Playlist cover image for {{ playlist.name }} - Taken from Spotify">
                            </button>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Spotify iFrame Embed -->
                    <div class="container fixed-bottom d-none">
                        <div id="embed-iframe"></div>
                    </div>
                </section>
            </article>
        </div>

        <!-- Comments section-->
        <section class="col-lg-4 mb-lg-5">
            <div class="card bg-light">
                <div class="card-body">

                    <!-- Comments -->
                    {% include 'blog/comments.html' %}

                    <!-- Sticky comment form -->
                    {% if user.is_authenticated %}
                    {% include 'blog/comment_form.html' %}
                    {% endif %}

                    <!-- Sticky reply form -->
                    {% if user.is_authenticated %}
                    {% include 'blog/reply_form.html' %}
                    {% endif %}

                </div>
            </div>
        </section>

    </div>
</div>
{% endblock content %}