{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Welcome to {{ season.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ season.created_on }}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    <a href="{% url 'homepage' %}">
                        <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="...">
                    </a>
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    <h2 class="fw-bolder mb-4 mt-5">Description:</h2>
                    <p class="fs-5 mb-4">{{ season.description }}</p>
                </section>
                <section>
                    {% for playlist in season.playlists.all %}
                    <h2>
                        {{ playlist.name }}
                    </h2>
                    {% endfor %}
                </section>
            </article>
        </div>

        <!-- Comments section-->
        <section class="col-lg-4 mb-5">
            <div class="card bg-light">
                <div class="card-body">

                    <!-- Comments -->
                    {% include 'blog/comments.html' %}

                    <!-- Comment form for logged in users -->
                    {% if user.is_authenticated %}
                    {% include 'blog/comment_form.html' %}
                    {% endif %}

                    <!-- Sticky reply form-->
                    <div class="sticky-bottom blurry-overlay d-none" id="reply-form">
                        <!-- Inline JavaScript injection -->
                    </div>

                </div>
            </div>
        </section>

    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function (e) {

        // Event listeners for 'reply'
        const replyLinks = document.querySelectorAll(".reply-link");

        replyLinks.forEach(function (link) {
            link.addEventListener("click", function (e) {

                // Season slug from current URL in window
                const pathArray = window.location.pathname.split("/");
                const seasonSlug = pathArray[pathArray.length - 2];

                // comment.id and comment.user from data- attribute
                let commentId = link.getAttribute("data-comment-id");
                let commentUser = link.getAttribute("data-comment-user")

                // Set URL accordingly
                let url = `/season/${seasonSlug}/${commentId}/reply`;

                // Hide commentForm and display replyForm instead
                const replyFormDiv = document.getElementById("reply-form");
                const commentFormDiv = document.getElementById("comment-form");
                commentFormDiv.classList.add("d-none");
                replyFormDiv.classList.remove("d-none");

                // Custom innerHTML for replyForm
                replyFormDiv.innerHTML = `
                <div class="row">
                    <div class="col">
                        replying to ${commentUser}
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-sm btn-close" id="close-reply-form" aria-label="Close"></button>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="flex-shrink-0 mt-2">
                        <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <form method="post" action="${url}" class="mt-3">
                            {% csrf_token %}
                            <div class="row d-flex g-0">
                                <div class="col">
                                    {{ reply_form | crispy }}
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-outline-success">Reply</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                `;

                // Hide replyForm and display commentForm instead
                const closeReplyFormButton = document.getElementById("close-reply-form");
                closeReplyFormButton.addEventListener("click", function (e) {
                    replyFormDiv.classList.add("d-none");
                    commentFormDiv.classList.remove("d-none");
                });
            });
        });

        // Event listeners for editing comments
        const editCommentButtons = document.querySelectorAll(".edit-comment")

        editCommentButtons.forEach(function (button) {
            button.addEventListener("click", function (e) {

                // comment.id from data- attribute
                let commentId = button.getAttribute("data-comment-id");
                let commentDiv = document.getElementById(`comment${commentId}`)
                let editCommentDiv = document.getElementById(`edit-comment${commentId}`);

                // Hide the comment itself and replace with the update form
                commentDiv.classList.add("d-none");
                editCommentDiv.classList.remove("d-none");
            });
        });
    });
</script>
{% endblock script %}