{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<!-- Page content-->
<div class="container mt-5 mb-5">
    <div class="row mb-5">
        <div class="col-lg-8">
            <h2>Search Spotify</h2>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    {% if search_results %}
    <div class="card bg-light">
        <div class="card-body">

            <!-- All results - Albums and or Playlists -->
            <div class="row">
                {% for result in search_results %}
                <div class="col-md-4 mb-5">
                    <div class="row">
                        <h4>{{ result.name }}</h4>
                    </div>
                    <div class="row p-2">
                        <button class="spotify-iframe" data-spotify-id="{{ result.iframe_uri }}">
                            <img class="img-thumbnail" src="{{ result.image }}"
                                alt="Playlist cover image for {{ result.name }} - taken from Spotify">
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
<script>

</script>
{% endblock script %}