{% extends "base.html" %} {% block content %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to We Rate Music</h1>
            <p class="lead mb-0">Love music as much as we do? Come join us!</p>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        {% if season_list %}
        <!-- Season entries-->
        <div class="col-lg-10">
            <!-- Latest season post-->
            <div class="card mb-4">
                <a href="{% url 'season_detail' slug=latest_season.slug %}">
                    {% if "placeholder" in latest_season.image.url %}
                    <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
                        alt="Placeholder image">
                    {% else %}
                    <img class="img-fluid rounded" src="{{ latest_season.image.url }}"
                        alt="Cover image for season post: {{ latest_season.title }}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <div class="small text-muted">{{ latest_season.created_on }}</div>
                    <h2 class="card-title">Current Season: {{ latest_season.title }}</h2>
                    <p class="card-text">This seasons rules are:</p>
                    <p class="card-text">{{ latest_season.description }}</p>
                    <a class="btn btn-primary" href="{% url 'season_detail' slug=latest_season.slug %}">
                        Read more →
                    </a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                {% for season in season_list %}
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="{% url 'season_detail' slug=season.slug %}">
                            {% if "placeholder" in season.image.url %}
                            <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
                                alt="Placeholder image">
                            {% else %}
                            <img class="img-fluid rounded" src="{{ season.image.url }}"
                                alt="Cover image for season post: {{ season.title }}">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <div class="small text-muted">{{ season.created_on }}</div>
                            <h2 class="card-title h4">{{ season.title }}</h2>
                            <p class="card-text">This seasons rules are:</p>
                            <p class="card-text">{{ season.description }}</p>
                            <a class="btn btn-primary" href="{% url 'season_detail' slug=season.slug %}">
                                Read more →
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination-->
            {% if is_paginated %}
            <nav aria-label="Pagination">
                <hr class="my-0">
                <ul class="pagination justify-content-center my-4">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                            aria-disabled="true">&laquo; PREV</a>
                    </li>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                    <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1"
                            aria-disabled="true">NEXT &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
        <!-- Side widgets-->
        <div class="col-lg-2">
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Seasons</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-unstyled mb-0">
                                {% for season in all_seasons %}
                                <li><a href="{% url 'season_detail' slug=season.slug %}">{{ season.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}